@CHARSET "UTF-8";
@IMPORT "smartcan.css";

body{
	position:relative;
	margin:0;
	min-height: 100%;
}
form, select, input, textarea {
    vertical-align: middle;
    font-family: 'NanumBarunGothic', NanumBarunGothic,'돋움',Dotum, Arial,sans-serif;
    font-size: 13px;
}
.container{
	width:960px;
	margin: 0 auto;
}
input[type=radio], input[type=checkbox] {
    margin-right: 5px;
}
select {
    width: 100%;
    border: 1px solid #d6d6d6;
    padding: 6px 8px;
}
.labelM{
	margin-right: 10px;
}
#contents{
	position:relative;
	height: 400px;
	margin-bottom: 30px;
}
#contenta{
	position:relative;
	height: 600px;
}
#user{
	height:250px;
    padding: 25px 0 40px;
    border-top: 1px solid #6c6c6c;
    border-bottom: 1px solid #e0e0e0;
    background: #fbfbfb url("/smartcan/assets/images/login/gsMember.png") 88px 0 no-repeat;
}
#tlt1 {
    padding: 50px 0;
    font-size: 35px;
    color: #222;
    font-weight: bold;
    letter-spacing: -1px;
}
#title{
	/*padding-top:50px;*/
	padding-bottom:18px;
	font-size: 25px;
}
#intro{
	font-size:15px;
	padding-bottom:6px;
}
#log-border{
	float:right;
	padding-right: 90px;
}
.login-form{
	width:320px;
	height:90px;
	padding: 10px 0;
}
.joinwrap {
    padding: 50px 0 40px;
    border-top: 1px solid #6c6c6c;
    border-bottom: 1px solid #e0e0e0;
}
#joincan{
	float:left;
	width: 432px;
	position:absolute;
}
.spc_sty02{
	margin-right:10px;	
}
#sel2_lt {
	margin-top: 8px;
    float: left;
}
#sel2_rt {
    float: left;
    width: 140px;
}
#storeDrop{
	margin-left: 10px;
	display:none;
}
#findcan{
	width:500px;
	float:right;
	position: relative;
}
#findMember{
	position:relative;
	height:50px;
	padding: 30px 0;
}
#findMember > div p {
    padding-left: 30px;
    width: 252px;
    color: #444;
    line-height: 22px;
    position: inherit;
}
/*login input*/
.form-control{
	display:block;
	/*width:100%;*/
	width:280px;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	margin-bottom:10px;
}
.form-control:focus{
	border-color:#66afe9;outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.form-control::-moz-placeholder{color:#999;opacity:1}
.form-control:-ms-input-placeholder{color:#999}
.form-control::-webkit-input-placeholder{color:#999}
/*Button bootstrap*/
.btn{
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px;
}
.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus{
	outline:thin dotted;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px;
}
.btn.focus,.btn:focus,.btn:hover{color:#333;text-decoration:none}
.btn.active,.btn:active{
	background-image:none;
	outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}
.btn-block {
    display: block;
    /*width: 100%;*/
    width:305px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-find{
	 color: #fff;
    background-color: #66afe9;
	border-radius:1px;
	float:right;
	margin: 30px 0 0 0;
}
button {
    overflow: visible;
}
.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
/*찾기 버튼*/
.btn_arr {
    padding: 11px 30px 10px 20px;
    cursor: pointer;
    vertical-align: middle;
}
.btn_arr.wt {
    display: inline-block;
    padding: 7px 25px 7px 20px;
    text-align: center;
    color: #444;
    font-size: 13px;
    border: 1px solid #999;
    background-position: right -40px;
    background-color: #fff;
}
#canbtn1{
	position:absolute;
	top: 0;
    right: 35px;
    margin-top: 5px;
}
#canbtn2{
	position:absolute;
	top: 0;
	right: 25px;
    margin-top: 5px;
}
/*sign up*/
legend {
    display: block;
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 0;
    text-indent: -999em;
    white-space: nowrap;
}
#title1 {
    padding-top: 70px;
    font-size: 35px;
    color: #222;
    font-weight: bold;
    letter-spacing: -1px;
}
#title1_p {
    margin: 25px 0 70px;
    font-size: 16px;
    color: #666;
    line-height: 24px;
}
#emphasis{
	color: #d04001 !important;
}
#tlt2_p0 {
    font-size: 30px;
    color: #222;
    font-weight: bold;
    margin-top: 50px !important;
}
#signup {
    position: relative;
    margin: 0 auto;
    width: 960px;
    padding: 0;
    height: 1050px;
}
#modiForm {
    position: relative;
    margin: 0 auto;
    width: 960px;
    padding: 0;
    height: 700px;
}
.banner{
	margin-left:10px;
}
#tit {
    margin-bottom: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    background: url("/smartcan/assets/images/login/icon_signup.png") 0 -274px no-repeat;
}
#tit2 {
    padding-left: 20px;
    border-left: 1px solid #dfdfdf;
    text-align: left;
}
.tbl_wtype1 {
    border-top: 1px solid #666;
    color: #222;
    font-size: 13px;
    width:960px;
}
.tbl_wtype1 th {
    width: 160px;
    padding: 17px 0 16px 20px;
    line-height: 16px;
    background: #fbfbfb;
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
    vertical-align: top;
}
.tbl_wtype1 td {
    padding: 7px 10px;
    height: 30px;
    color: #444;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
#brdwrap2 {
    position: relative;
    margin: 0 auto;
    width: 960px;
    padding: 50px 0 0 0;
}
.tblwrap .reqd_box {
    position: absolute;
    top: -200px;
    right: 0;
    font-size: 13px;
    color: #444;
}
.reqd {
	float: left;
    padding-right: 10px;
    color: #d04001;
}
input[type=text], input[type=password] {
    text-indent: 10px;
    border: 1px solid #dfdfdf;
    height: 29px;
    line-height: 31px;
    color: #444;
    font-size: 13px;
}
#address{
	width:250px;
}
.btn-register{
	float:right;
	margin-top:50px;
}
#passCheck{
	margin-left:10px;
	font-size:13px;
	color:red;
}
#msg_email{
	margin-left:10px;
	font-size:13px;
	color:red;
}
.scl_box {
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    width: 920px;
    height: 200px;
    padding: 25px 20px 30px;
    background: #fbfbfb;
    border: 1px solid #dfdfdf;
    font-size: 13px;
    color: #666;
    line-height: 22px;
}
.agree_tbox{
	margin: 5px 15px;
}
.scl_box table {
    width: 819px;
    margin-bottom: 10px;
    background: #fff;
}
.scl_box table th {
    padding: 4px 0 3px 0;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    font-weight: normal;
    background-color: #f8f8f8;
}
.scl_box table td {
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
#agreeF{
	margin: 30px 0 0 10px;
	border: solid 0px white;
}
#emailCheck{
	margin-left:10px;
	font-size:13px;
	color:red;
}
/*findInfo*/
.smaller{
	width:450px;
}
.both{
	height:380px;
    border-bottom: 1px solid #999;
}
.left{
	float:left;
}
.right{
	float:right;
}
.popwrap {
	position:relative;
	background:#444;
	border: 1px solid #5e5e5e;
	margin-bottom: 20px;
}
.popwrap .pop_tlt1 {
	background:url("/smartcan/assets/images/login/ico_popt.gif") no-repeat 25px 20px;
	padding:15px 0px 20px 40px;
	color:#fff;
	font-size:18px;
}
/*joinSuccess*/
#join-succ{
	height:250px;
    padding: 25px 0 40px;
    border-top: 1px solid #6c6c6c;
    border-bottom: 1px solid #e0e0e0;
    background: #fbfbfb url("/smartcan/assets/images/login/smartcan_store.png") 60px no-repeat;
}
#goMain{
	margin: 40px 0 0 480px;	
}
#goLogin{
	margin: 75px 0 0 410px;
}
#line{
	margin:0;
	font-size: 18px;
	padding: 10px 0;
}
.lineM{
	background:url("/smartcan/assets/images/login/home.png") no-repeat 25px 20px;
	padding: 17px 0px 20px 57px;
	color:#fff;
}
.lineL{
	background:url("/smartcan/assets/images/login/unlock.png") no-repeat 25px 20px;
	padding: 17px 0px 20px 57px;
	color:#fff;
}
/*repassword*/
#gsBack{
	background: url("/smartcan/assets/images/login/smartcanstore.jpg") center #cdd2c4 no-repeat;
    background-size: cover;
}
#wrapper {
    text-align: center;
    padding: 150px 100px;
}
#repass{
	height:200px;
	margin-bottom:70px;
}
#move{
	width:100%;
	margin-bottom:20px;
	height:60px;
}
.tbl_wtype2{
	border-top: 1px solid #666;
    color: #222;
    font-size: 13px;
    margin: 0 auto;
    width: 700px;
}
.tbl_wtype2 th {
    width: 160px;
    padding: 17px 0 16px 20px;
    line-height: 16px;
    background: #F5F0ED;
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
    vertical-align: top;
}
.tbl_wtype2 td {
    padding: 7px 10px;
    text-align:left;
    height: 30px;
    color: #444;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.ceLeft{
	width: 200px;
    margin: 0 auto;
}
#box {
    background: rgba(255,255,255,0.96);
    padding: 23px;
    border-radius: 6px;
    margin: 0 auto;
    color: gray;
    letter-spacing: -1px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
    width:1000px;
}
#sbox {
	margin:25px;
}
.marRight{
	margin-right:125px
}
#sorryman{
	height: 150px;
    padding: 25px 0 40px;
    background: url(/smartcan/assets/images/login/sorryman.png) 400px 0 no-repeat;
}
#iDcard{
	height: 150px;
    padding: 25px 0 40px;
    background: url(/smartcan/assets/images/login/gsMember.png) 300px no-repeat;
}