@CHARSET "UTF-8";
@import url("/smartcan/assets/font/nanumbarungothicbold/nanum-barun-gothic-bold.css");
@import url("/smartcan/assets/font/nanumbarungothicregular/nanum-barun-gothic-regular.css");

/* reset */
*            { margin:0; padding:0 }
body         { font:0.9em "맑은 고딕", 돋움, 굴림; font-family:NanumBarunGothic !important;}
ul, ol, li         { list-style-type: none }

/* layout */
div#container   { text-align:left; width:100%; margin:0 auto; background-color:#fff }
div#content      { float:left; width:100%; background-color:#fff }
div#footer      { clear:both; width:100% }

/* header */

div#header body {position:relative; font-size:13px; color:#333; font-family:'NanumBarunGothic', NanumBarunGothic,'돋움',Dotum, Arial,sans-serif;}
      a {color:#333; text-decoration:none;}
      h1, h2, h3, h4, h5 {font-weight:bold;}
.header {position:relative; margin:0 auto; width:100%;border-bottom: 1px solid #dfdfdf;}
      .topwrap {width:100%; background:url("/gs25/assets/images/index/top_bg.gif") repeat-x;}
      .brdwrap {position:relative; margin:0 auto; width:960px; padding:0}
      .brdwrap .uty {position:relative; float:right; width:370px;top:8px; font-family:'NanumBarunGothic', NanumBarunGothic}
      .brdwrap .uty ul {float:right;}
      .brdwrap .uty li {position:relative; float:left; margin:5px 3px; background-position: 0 -289px;padding-left:6px}
      .brdwrap .uty li:first-child {padding-left:0px; background: none}
      .brdwrap .uty li a {display:inline-block; font-size:13px; color:#444; padding:2px 0px 4px}

      .gnbwrap {clear:both; position:relative; margin:auto; width:100%; font-family:'NanumBarunGothic', NanumBarunGothic;}
      .gnbw {position:relative;width:960px; margin:0 auto;}
      .gnb_bg{position:absolute;top:86px;left:0;width:100%;height:294px;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;background: #f7f7f7;z-index: 99}
      .gnbw:after,
      .gnbwrap .gnb ul:after{content: "";clear: both;display: block;height: 0;visibility: hidden;}
      .gnbwrap .logo {float:left; background:url("/smartcan/assets/images/index/flower.png") no-repeat; width:170px; height:90px; text-indent:-999em; margin:5px 0px 6px 10px}
      .gnbwrap .logo a{width:70%;height:100%;display:block;}
      .gnbwrap .gnb {float:left; margin:0 auto; width:780px}
      .gnbwrap .gnb > ul {width:810px;}
      .gnbwrap .gnb > ul > li {float:right; padding:0px 19px;}
      .gnbwrap .gnb li h2 > a {display:block; color: #333333; padding:34px 13px 29px 13px;font-size:23px;}
      .gnbwrap .gnb li h2 > a:hover {border-bottom:3px solid #338ec9; color:#0072bc; padding:34px 13px 26px 13px;}
      .gnbwrap .gnb>ul>li>ul>li:hover { background-color:#FFF !important;}
      .mlbwrap {clear:both; position:relative; width:100%; margin:auto; background:#f7f7f7; border-top:1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8}
      .mlbwrap .mlb {margin:0 auto; width:960px}


/* footer */
div#footer body {position:relative; font-size:13px; color:#333; font-family:'NanumBarunGothic', NanumBarunGothic,'돋움',Dotum, Arial,sans-serif;}
      ul, ol, li {list-style:none;}
      a {color:#333; text-decoration:none;}
      .btm_sns_warp { width:100%; border-top:1px solid #e8e8e8; height:72px; line-height:72px;}
      .btm_sns_area { width:960px; margin:0 auto; height:72px; line-height:72px; }  
      .btm_sns_area:after{content:' '; display:block; clear:both; } 
      .btm_sns_area .left { float:left; width:616px; height:72px; border-right:1px solid #e8e8e8;} 
      .btm_sns_area .right { float:left; padding:12px 0 0 23px;}
      .btm_sns_area .right a { display:block;}
      .btm_sns_area .btm_sns { float:left; width:617px; height:39px; padding-top:20px}  
      .btm_sns_area .btm_sns > img { float:left; padding:4px 16px 0 0;}
      .btm_sns_area .btm_sns ul li { float:left; padding-right:15px; margin-top:-4px;}
      .btm_sns_area .btm_sns ul li a { display:block; width:39px; height:39px; background:url('/gs25/assets/images/index/ico_btm_sns.png') no-repeat left center; }
      .btm_sns_area .btm_sns ul li a .hide {display:block; height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0; overflow:hidden;}
      .btm_sns_area .btm_sns ul li a.blog { background-position:-48px 0;}
      .btm_sns_area .btm_sns ul li a.instagram { background-position:-96px 0;}
      .btm_sns_area .btm_sns ul li a.tvcast { background-position:-144px 0;}
      .btm_sns_area .btm_sns ul li a.youtube { background-position:-192px 0;} 
      .btm_sns_area .btm_sns ul li a.pholar { background-position:-241px 0;} 
      .btm_sns_area .btm_sns ul li a.kakaostroy { background-position:-288px 0;}


      .ft_copy {width:100%; border-top:1px solid #e8e8e8; background:#f2f2f2;}
      .ft_copy:after {content:'.'; display:block; visibility:hidden; clear:both;}
      .copywrap {width:960px; margin:0 auto; margin-top:40px;}
      .copywrap .copy {float:left; width:790px; padding-bottom:80px}
      .copy .copy_menu { width:800px; margin-bottom:35px; *margin-bottom:20px;}
      .copy .copy_menu li {float:left; font-size: 11px; color:#666; letter-spacing:-0.2px;}
      .copy .copy_menu li a{ padding:0 8px;background:url("/gs25/assets/images/index/bg_sns.gif") no-repeat center left;}
      .copy .copy_menu li a,.copy .copy_menu li a:hover {display:block; font-size: 11px; color:#666;}
      .copy .copy_menu li:first-child a {padding:0 10px 0 0;font-size:12px;font-weight:bold;background:none;}
      .copy_txt {font-size:11px; color:#666; line-height:20px; float:left;}
      .copy_txt a{color:#666;}
      .copy_txt a:hover{text-decoration: underline}
      .copy_txt .copy {font-size:12px;}
      .copywrap .copy_logo {float:right; margin-top:-10px}
      .copywrap .ft_banner { float:right; margin-top:13px;} 
      .copy .copy_menu li.bold a { font-weight:bold; color:#666; font-size:12px; margin-top:-1px;}